

/*brige-game css begin*/
.contains .contents .main-game .game-nav .bridge-game {
    display: flex;
    border-radius: 50px;

    width: 100%;
    height: 100%;

}

/*bridge-game 하위 클래스 3개 비율을 위해 생성함*/
.contains .contents .main-game .game-nav .bridge-game #bridge-left {
    flex: 1;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start{
    flex: 7;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-right{
    flex:1;
}
/*-------------------------------------------*/

.contains .contents .main-game .game-nav .bridge-game div {
    display: flex;
    flex-grow: initial;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;

}


/*brige-game css begin*/

/*게임판 중 가장 왼쪽 시작*/

.contains .contents .main-game .game-nav .bridge-game #bridge-left {
    /*flex: 1;*/

    /*width: 10%;*/

}

/*게임판 중 가장 왼쪽 종료*/


/*메인게임 시작*/

.contains .contents .main-game .game-nav .bridge-game #bridge-start {
    width: 80%;
    height: 100%;
    /*background: white;*/
}

.contains .contents .main-game .game-nav .bridge-game #bridge-start .bridge-content{
    display: block;
    background: url("../bridge-img/bridge-img-main.jpg") no-repeat;
    margin-top: 5%;
    height: 0%;
    width: 100%;
    padding: 20px;
    object-fit: contain;

    filter: drop-shadow(5px 10px 5px #000);

}

/*게임을 감싸는 전체 컨테이너*/
.contains .contents .main-game .game-nav .bridge-game
.bridge-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;


}
.contains .contents .main-game .game-nav .bridge-game p {
    height: 10%;
    position: absolute;
    display: block;
    margin-left: 15%;
    padding-top: 10px;
    font-size: 25px;
}

/*전체적인 틀 확인하기 위한 코드*/
.content, .start, .finish, .character, .bridge-pannel, .left, .right {
    display: flex;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .start{
    overflow: hidden;
}

#char-start, #char-finish {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content  img {
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit:cover;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .start #char-start{
    display: flex;
    margin-top: 680px;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .finish #char-finish {
    display: flex;
    margin-top: 20px;
}

/*bridge-content 하위 클래스 3개 비율을 위해 생성함*/
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .start{
    flex: 1;
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel {
    flex: 4;

}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .finish {
    flex: 1;

}
/*---------------------------------------------*/




.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel {
    display: flex;
    justify-content: center;
    justify-items: center;

    width: 80%;
    height: 80%;
    margin:  10px auto;

    /*border: 2px solid black;*/

}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

}


/*노란판 속성*/
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel .glass {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 100px;
    border: 5px ridge rgba(19, 44, 81, 0.59);
    border-radius: 50%;
    margin: auto;
    box-shadow: rgba(141, 155, 169,59);
}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel .left , .right{
    color: #fff;
    padding-left: 25px;
}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel button:active {
    background-color: rgb(48, 70, 195);

}
.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel .glass:hover {
    cursor: pointer;
    /*background-color: rgba(136, 212, 226, 0.44);*/
}

.contains .contents .main-game .game-nav .bridge-game #bridge-start
.bridge-container .bridge-content .bridge-pannel .glass div {
}



/*메인게임 종료*/


/*게임판 중 가장 오른쪽 시작*/
.contains .contents .main-game .game-nav .bridge-game #bridge-right {
    width: 10%;

}

/*게임판 중 가장 오른쪽 종료*/


/*게임설명 버튼 속성 hovdr 시작*/
#main .contains .contents .main-game  .bridge-game-explain  {

    width: 70%;
    height: 100%;

    position: relative;
}

#main .contains .contents .main-game .game-nav-sub .nav-sub
.btn .bridge-game-explain #bridge-howto {
    background: #dbebf1;
    opacity: 0.9;
    border-radius: 5%;
    width: 600px;
    height: 500px;
    position: absolute;
    bottom: 300px;
    right: 10px;
    font-weight: bold;
    color: #333333;
    font-size: 18px;
    display: none;
    text-align: left;

}

#main .contains .contents .main-game .game-nav-sub .nav-sub
.btn .start-btn:hover .bridge-game-explain #bridge-howto {
    display: block !important;

}
/*게임설명 버튼 속성 hover 종료*/
